.navbarContainer {
  width: 100%;
  background-color:pink;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color:blue;
  font-size: 25px;
  margin: auto;
}

.navbarContainer > div{
  padding: 25px;
}
